<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--数据库配置-->
    <!--1.导入db文件-->
    <context:property-placeholder
            location="classpath:db.properties"/>

    <!--2.配置数据库连接池-->
    <bean id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"
                  value="${driverClass}"/>

        <property name="url"
                  value="${jdbcurl}"/>

        <property name="username"
                  value="${username}"/>

        <property name="password"
                  value="${password}"/>
    </bean>

    <!--3.配置SqlsessionFactory-->
    <bean id="sessionFactory"
        class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置数据库映射文件-->
        <property name="mapperLocations"
                  value="classpath*:mapper/*.xml"/>
    </bean>

    <!--4.配置mybatis代理类的扫描路经费-->
    <bean
        class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--数据库代理接口类所在的包-->
        <property name="basePackage"
                  value="com.ssm.mapper"/>
        <!--配置SqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName"
                  value="sessionFactory"/>
    </bean>

    <!--5.配置数据库事务-->
    <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"
                  ref="dataSource"/>
    </bean>

    <!--6.配置通知-->
    <tx:advice id="txAdvice"
            transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!--7.配置AOP-->
    <aop:config>
        <aop:pointcut id="pointCut"
                      expression="execution(* com.ssm.service..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="pointCut"/>
    </aop:config>
</beans>